<div class="row">
    <div class="col-md-6">
        <ul>
            <li *ngFor="let category of categories" class="mb-2">
                {{ category.title }}
                <button class="btn btn-sm btn-outline-danger" (click)="deleteCategory(category)">Törlés</button>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h5>Új kategória hozzáadása</h5>
        <form [formGroup]="categoryForm">
            <div class="row">
                <div class="col-md-9">
                    <div>
                        <label for="title" class="form-label">Megnevezés</label>
                        <input type="text" class="form-control" id="title" name="title" formControlName="title">
                    </div>
                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button class="btn btn-outline-primary" (click)="saveCategory()">Mentés</button>
                </div>
            </div>
        </form>
    </div>
</div>